<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Thêm danh mục sản phẩm</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <form class="form-horizontal form-label-left" novalidate>
                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12 required" for="name">Tên danh mục</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="name" placeholder="Nhập tên danh mục" required="required" type="text">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12 required" for="name">SEO tiêu đề</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="name" placeholder="Nhập tên danh mục" required="required" type="text">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12 required" for="name">Mô tả ngắn</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="name" placeholder="Nhập tên danh mục" required="required" type="text">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12 required" for="name">Danh mục cha</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <select class="form-control"></select>
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12 required" for="name">Thứ tự</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="name" placeholder="Nhập tên danh mục" required="required" type="text">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12 required" for="name">Hình ảnh</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="name" placeholder="Nhập tên danh mục" required="required" type="text">
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-12 text-right">
                                <button type="button" ui-sref="product_categories" class="btn btn-primary"> Huỷ</button>
                                <button type="submit" class="btn btn-success">Lưu</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>