<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Thêm danh mục sản phẩm</h3>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <form class="form-horizontal form-label-left" novalidate name="frmCreateProductCategory" role="form" ng-submit="CreateProductCategory()">
                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12 required" for="Name">Tên danh mục</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input id="Name" class="form-control"  ng-model="productCategory.Name" ng-maxlength="256" required="required" ng-change="GetSeoTitle()" name="Name" type="text">
                                <span ng-show="frmCreateProductCategory.Name.$invalid" class="error" >Phải nhập tên danh mục</span>
                                <span ng-show="frmCreateProductCategory.Name.$error.maxlength" class="error">Tên danh mục chỉ được 256 kí tự</span>
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12 required" for="Alias">SEO tiêu đề</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input id="Alias" class="form-control" ng-model="productCategory.Alias" ng-maxlength="256" required="required" name="Alias" placeholder="Nhập Seo" type="text">
                                <span ng-show="frmCreateProductCategory.Alias.$invalid" class="error">Phải nhập tiêu đề SEO</span>
                                <span ng-show="frmCreateProductCategory.Alias.$error.maxlength" class="error">Tiêu đề SEO chỉ được 256 kí tự</span>
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12 required" for="Description">Mô tả ngắn</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input id="Description" class="form-control" ng-model="productCategory.Description" ng-maxlength="500" name="Description" placeholder="Nhập mô tả ngắn" type="text">
                                <span ng-show="frmCreateProductCategory.Description.$error.maxlength" class="error">Mô tả chỉ được 500 kí tự</span>
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12 required" for="ParentID">Danh mục cha</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <select id="ParentID" class="form-control" ng-model="productCategory.ParentID" name="ParentID" ng-options="option.ID as option.Name for option in parentCategories">
                                    <option value=""> Danh mục gốc</option>
                                </select>
                                <input type="hidden" ng-model="productCategory.ParentID" name="ParentID" />
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12 required" for="DisplayOrder">Thứ tự</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input id="DisplayOrder" class="form-control" ng-model="productCategory.DisplayOrder" required="required" name="DisplayOrder" placeholder="Nhập thứ tự" type="number">
                                <span ng-show="frmCreateProductCategory.DisplayOrder.$invalid" class="error">Phải nhập thứ tự</span>
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12 required" for="Image">Hình ảnh</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input id="Image" class="form-control" ng-model="productCategory.Image" ng-maxlength="256" name="Image" placeholder="Nhập tên danh mục" type="text">
                                <span ng-show="frmCreateProductCategory.Image.$error.maxlength" class="error">Hình ảnh chỉ được 500 kí tự</span>
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12 required" for="MetaKeyword">Meta Keyword</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input id="MetaKeyword" class="form-control" ng-model="productCategory.MetaKeyword" name="MetaKeyword" placeholder="Nhập từ khoá" type="text">
                            </div>
                        </div>

                        <div class="item form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12 required" for="MetaDescription">Meta Description</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <textarea id="MetaDescription" class="form-control" ng-model="productCategory.MetaDescription" name="MetaDescription" placeholder="Nhập mô tả"></textarea>

                            </div>
                        </div>

                        <div class="item form-group">
                            <div class="col-md-offset-3 col-md-9 col-xs-12">
                                <div class="checkbox">
                                    <input type="checkbox" class="flat" ng-model="productCategory.Status" name="Status" ng-checked="productCategory.Status" checked="checked"> Kích hoạt
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" class="flat" ng-model="productCategory.HomeFlag" name="HomeFlag" ng-checked="productCategory.HomeFlag" checked="checked"> Hiển thị trang chủ
                                </div>
                            </div>
                        </div>

                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="button" ui-sref="product_categories" class="btn btn-danger"> Huỷ</button>
                                <button type="submit" ng-disabled="frmCreateProductCategory.$invalid" class="btn btn-success pull-right">Lưu</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>