<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Trang quản trị </title>
    <!-- Bootstrap -->
    <link href="/Assets/admin/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/Assets/admin/css/font-awesome.min.css" rel="stylesheet">
    <!--iCheck-->
    <link href="~/Assets/admin/libs/iCheck/skins/flat/green.css" rel="stylesheet" />
    <!--toastr-->
    <link href="~/Assets/admin/libs/toastr/toastr.css" rel="stylesheet" />

    <!-- Custom Theme Style -->
    <link href="/Assets/admin/css/custom.css" rel="stylesheet">
    <link href="~/Assets/admin/css/style.css" rel="stylesheet" />
</head>
<body class="nav-sm footer_fixed" ng-app="minhvh">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentellela Alela!</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            <img src="/Assets/admin/img/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>John Doe</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> Sản phẩm <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a ui-sref="product_categories">Nhóm sản phẩm</a></li>
                                        <li><a ui-sref="products">Sản phẩm</a></li>
                                        <li><a href="index3.html">Dashboard3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="/Assets/admin/img/img.jpg" alt="">John Doe
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li><a href="javascript:;"> Profile</a></li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li><a href="javascript:;">Help</a></li>
                                    <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                                </ul>
                            </li>
                            <li role="presentation" class="dropdown">
                                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                    <li>
                                        <a>
                                            <span class="image"><img src="/Assets/admin/img/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="/Assets/admin/img/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="/Assets/admin/img/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span class="image"><img src="/Assets/admin/img/img.jpg" alt="Profile Image" /></span>
                                            <span>
                                                <span>John Smith</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="text-center">
                                            <a>
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="" ui-view>

                </div>
            </div>
            <!-- /page content -->
        </div>
    </div>
    <!-- jQuery -->
    <script src="/Assets/admin/js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/Assets/admin/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/Assets/admin/js/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/Assets/admin/js/nprogress.js"></script>
    <!-- iCheck -->
    <script src="~/Assets/admin/libs/iCheck/icheck.min.js"></script>

    <!--Angular js-->
    <script src="~/Assets/admin/libs/angular/angular.js"></script>
    <script src="~/Assets/admin/libs/angular-ui-router/release/angular-ui-router.js"></script>
    <!--Toastr-->
    <script src="~/Assets/admin/libs/toastr/toastr.min.js"></script>
    <!--Common-->
    <script src="~/app/shared/modules/minhvh.common.js"></script>
    <!--Toastr-->
    <script src="~/app/shared/services/notificationService.js"></script>
    <!--Status filter-->
    <script src="~/app/shared/filter/statusFilter.js"></script>

    <script src="~/app/shared/services/initJavascriptService.js"></script>
    <!--Pagination-->
    <script src="~/app/shared/directives/pagerDirective.js"></script>

    <!--Api Service-->
    <script src="~/app/shared/services/apiService.js"></script>

    <!--Module-->
    <script src="~/app/components/products/products.module.js"></script>
    <script src="~/app/components/product_categories/productCategories.module.js"></script>
    <script src="~/app/app.js"></script>

    <!--Controller-->
    <script src="~/app/components/product_categories/productCategoryListController.js"></script>
    <script src="~/app/components/product_categories/productCategoryCreateController.js"></script>
    <script src="~/app/components/products/productCreateController.js"></script>
    <script src="~/app/components/products/productListController.js"></script>
    <script src="~/app/components/homes/homeController.js"></script>

    <!-- Custom Theme Scripts -->
    @*<script src="/Assets/admin/js/custom.js"></script>*@
</body>
</html>
